body {
    background:  #cceeff;
}

.container {
    text-align: center;
    margin-top:250px;
}

input {
    margin-top:30px;
    margin-bottom: 20px;
}

h2 {
    border: 3px black solid;
    border-radius: 20px;
    width:60%;
    margin: 0 auto;
    background-color: #6600ff;
    color: white;
}

button {
    margin-top: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: crimson
}

button:hover {
    background-color: #cc0000;
}

p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #6600ff;
}

#attemptValue {
    color: #000066;
}